$tablet: 768px;
$desktop: 1280px;

@import '~bulma';
@import '~bulma-timeline';
@import './colors.scss';

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
  
  .username {
    &.is-error {
      border-color: $cl-error;
    }
  }
}

.gh-username img{
  width: 32px;
  vertical-align: middle;
}

#profile-bio{
  margin-top:10px;
}

.timeline .timeline-item {
  padding-bottom:1em;
}
