$tablet: 768px;
$desktop: 1280px;

// selected bulma sass files used in project
@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/_all';
@import '~bulma/sass/elements/button';
@import '~bulma/sass/elements/container';
@import '~bulma/sass/elements/image';
@import '~bulma/sass/elements/other';
@import '~bulma/sass/elements/title';
@import '~bulma/sass/form/shared';
@import '~bulma/sass/form/input-textarea';
@import '~bulma/sass/form/tools';
@import '~bulma/sass/components/media';
@import '~bulma/sass/components/navbar';
@import '~bulma/sass/grid/columns';
@import '~bulma-timeline';
@import './colors';

.navbar {
  border-bottom: 1px solid $cl-greyE;
  margin-bottom: 8px;
  
  .username {
    &.is-error {
      border-color: $cl-error;
    }
  }
}

.gh-username {
  img {
    width: 32px;
    vertical-align: middle;
  }
}

.loader-wrapper {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.profile {
  .content {
    margin-top: 10px;
  }
}

.timeline {
  .timeline-item {
    padding-bottom: 1em;
  }
}
